.text{
  font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
letter-spacing: -0.02em;
color: #242d52;
margin-bottom: 19px;
}
.tx{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: #242d52;
opacity: 0.5;
width: 445px;
}
.main_block{
  display: flex;
  align-items: start;
  gap: 28px;
  margin-bottom: 40px;
}
