*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.header{
  padding-top: 56px;
  padding-bottom: 120px;
}
.header_link{
  font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
color: #242d52;
text-decoration: none;
}
.header_item{
  display: flex;
  gap: 32px;
  align-items: center;
}
.header_btn{
  font-family: var(--font-family);
font-weight: 700;
font-size: 13px;
color: #fcf6f5;
border-radius: 22px;
box-shadow: 0 15px 15px -10px #ff9f8e;
background-color: #f3603c;
border: none;
padding: 12px 32px;
}
.header_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}